@use "../../../library/theme/scss/variables" as *;

.layout-wrapper {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 1378px;
  max-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  box-sizing: border-box;

  .layout {
    border-right: 1px solid $BORDER_LIGHT;
    border-left: 1px solid $BORDER_LIGHT;
    width: 100%;
    height: 100vh;
    position: relative;

    .horizontal-line,
    .vertical-line {
      background: $BORDER_LIGHT;
      position: absolute;
    }

    .horizontal-line {
      width: 100%;
      height: 1px;
      top: 50%;
    }
    .vertical-line {
      width: 1px;
      height: 100vh;
      left: 50%;
    }
  }
}

@include mobile {
  .layout-wrapper {
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    padding: 1rem 2.5rem;

    .layout {
      border: none;

      .horizontal-line,
      .vertical-line {
        display: none;
      }
    }
  }
}
