@use "@library/theme/scss/variables" as *;

.layout {
  z-index: 1;
  display: flex;
  height: 100%;
  flex-direction: column;

  .wrapper-category-name {
    width: 100%;

    .category {
      @include font-heading;
      color: $BLACK_BLUE;
      position: absolute;
      top: 23%;
      left: 63%;
    }
  }

  .wrapper-swiper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 530px;
      height: 530px;
      border: 1px solid $BORDER_LIGHT;
      pointer-events: none;
      border-radius: 50%;
    }
  }
}

@include mobile {
  .layout {
    .wrapper-swiper {
      justify-content: flex-start;
    }

    .circle {
      display: none;
    }

    .wrapper-category-name {
      position: unset;
      border-bottom: 1px solid $BORDER_LIGHT;
      margin-bottom: 1.5rem;

      .category {
        @include font-heading;
        position: static;
        color: $BLACK_BLUE;
        margin-bottom: 2rem;
        display: inline-block;
      }
    }
  }
}
