@use "../../../library/theme/scss/variables" as *;

.wrapper-period-title {
  height: 160px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 8vh;
  z-index: 2;
  span {
    @include font-display-extra-large;

    &:first-child {
      padding-right: 4rem;
      color: $IRIS;
    }

    &:nth-child(2) {
      color: $FUCSIA;
    }
  }
}

@include mobile {
  .wrapper-period-title {
    height: auto;
    position: static;
    margin-bottom: 9vh;
    span {
      @include font-display-large;
      font-size: 60px;

      &:first-child {
        padding-right: 2rem;
      }
    }
  }
}
