@use "../../../library/theme/scss/variables" as *;

.wrapper-period-title {
  height: 160px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: absolute;
  span {
    @include font-display-extra-large;

    &:first-child {
      padding-right: 4rem;
      color: $IRIS;
    }

    &:nth-child(2) {
      color: $FUCSIA;
    }
  }
}
