@use "../../../library/theme/scss/variables" as *;

.dates-swiper {
  width: 100%;
  padding-bottom: 2rem;

  .year {
    color: $BLUE;
    padding-bottom: 0.5rem;
    @include font-year;
  }
  .description {
    color: $BLACK_BLUE;
    @include font-description;
  }

  .swiper-button-disabled {
    visibility: hidden;
  }

  .swiper-slide {
    width: 320px !important;

    &:hover {
      cursor: pointer;
    }
  }

  .swiper-button-next {
    margin-right: 0.5rem;
  }

  .swiper-button-prev {
    margin-left: 0.5rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $WHITE;

    .swiper-navigation-icon {
      width: 5px;
      height: 10px;
      color: $BLUE;
    }
  }
}
