@use "../../../library/theme/scss/variables" as *;

.wrapper-time-line-periods {
  margin-bottom: 1.5rem;
  height: 120px;
  overflow-y: auto;
  padding: 0 80px;

  .dates-swiper {
    width: 100%;

    .year {
      color: $BLUE;
      padding-bottom: 0.5rem;
      @include font-year;
    }
    .description {
      color: $BLACK_BLUE;
      @include font-description;
    }

    .swiper-button-disabled {
      visibility: hidden;
    }

    .swiper-slide {
      width: 320px !important;

      &:hover {
        cursor: pointer;
      }
    }

    .swiper-button-next {
      margin-right: 0.5rem;
    }

    .swiper-button-prev {
      margin-left: 0.5rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $WHITE;

      .swiper-navigation-icon {
        width: 5px;
        height: 10px;
        color: $BLUE;
      }
    }
  }
}

@include mobile {
  .wrapper-time-line-periods {
    margin-bottom: 0;
    padding: 0;
    height: 100%;
    display: flex;

    .dates-swiper {
      display: flex;
      flex-direction: column;
      .swiper-slide {
        width: 220px !important;
      }

      .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 3rem;
      }

      .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: $GRAY;
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }
  }
}
