@use "../../../../../library/theme/scss/variables" as *;


.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  height: 530px;
  border: 1px solid $BORDER_LIGHT;
  pointer-events: none;
  border-radius: 50%;
  box-sizing: border-box;
  transform-style: preserve-3d;
  z-index: 4;
}

.circle-point {
  font-family: $FONT_FAMILY_PRIMARY;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $BLACK_BLUE;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 1px solid $BLACK;
  padding: 0;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, background 0.3s ease-in-out, border 0.3s ease-in-out;
  pointer-events: all;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    transform-origin: center;
    display: inline-block;
  }

  &:hover {
    width: 36px;
    height: 36px;
    background: $DARK_BLUE;
    border: 1px solid $BLACK_BLUE;
    cursor: pointer;

    span {
      opacity: 1;
      color: $BLACK_BLUE;
    }
  }

  &.active,
  &.hovered {
    @include font-heading;
    font-weight: normal;
    width: 56px;
    height: 56px;
    border: 1px solid rgba(48, 62, 88, 0.5);
    background: $BACKGROUND_PRIMARY;
    color: $BLACK_BLUE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    span {
      opacity: 1;
    }
  }
}
