@use "@library/theme/scss/variables" as *;

* {
  box-sizing: border-box;
}
html,
body,
#root,
.app {
  height: 100%;
  background: $BACKGROUND_PRIMARY;
  margin: 0;
  padding: 0;
  font-family: $FONT_FAMILY_PRIMARY;
}
